<a href="https://colab.research.google.com/github/tkdforever18/Carlos/blob/main/Clase_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Regression
Salary = b0 + b1*Age
y = mx + c

b1 = impacto

si b1 = 0, entonces age no tiene impacto

b0 = punto inicial, salario inicial


Salary = b0 + b1*Age + b2*cme (empresa)
y = mx + c

si b1 y b2 es 0, significa que ni la edad, ni la empresa impactan en el salario

b1 y b2 son variables, hay que encontrar qué variables provocan que el salario se modifique, un b=0, significa que esa variable no tiene relación con el salario

***
Quiero saber el impacto del salario debido a "Edad", "Empresa" y "Educación".***

In [113]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import statsmodels.api as sm
import numpy as np
from sklearn import linear_model

In [114]:
path = 'https://raw.githubusercontent.com/tec03/Datasets/main/datasets/reg_data.csv'
df = pd.read_csv(path)
df

    Gender  Salary   Age       Place  Weight Company   Education  JoinYear
0   Female  1300.0  35.0     Chicago    80.0     BMW    Bachelor      2008
1   Female  1250.0  33.0     Chicago    82.5    Ford  HighSchool      2010
2     Male  2200.0  34.0    New York   100.8     BMW    Bachelor      2004
3     Male  2100.0  42.0    New York    90.0     BMW      Master      2000
4   Female  1500.0  29.0     Chicago    67.0    Ford      Master      2010
5   Female  1700.0  42.0  Washington    60.0    Ford      Master      2000
6     Male  3000.0  50.0  Washington    77.0    Ford  HighSchool      2010
7     Male  3000.0  55.0  Washington    77.0    Ford    Bachelor      2010
8   Female  2800.0  31.0    New York    87.0    Ford    Bachelor      2004
9     Male  2900.0  46.0    New York    70.0      GM      Master      2008
10  Female  2780.0  36.0  Washington    57.0     BMW  HighSchool      2009
11    Male  2550.0  48.0    New York    64.0      GM      Master      2004
12  Female     NaN  31.0    New York    87.0    Ford    Bachelor      2009
13    Male  2900.0   NaN    New York    70.0      GM      Master      2010
14  Female  2780.0  36.0         NaN    57.0     BMW  HighSchool      2010
15    Male  2550.0  48.0    New York     NaN      GM      Master      2000
16    Male  2550.0  48.0    New York    64.0     NaN      Master      2000
17    Male  2550.0  48.0    New York    64.0      GM         NaN      2000
18     NaN  2550.0  48.0    New York    64.0      GM      Master      2009

In [115]:
df.shape

(19, 8)

Aquí vemos que todas las columnas tienen NAN, por lo que no conviene hacer la limpieza completa , para lo qeu vamos a ir a limpiar solo de las variables que nos interesan, en éste caso, solo Salary y Age

# Simple regression (Only one regressor)

# What is the salary of a person with age 33?

Vamos a responder en base a ésto:
Salary = b0 + b1*Age
y = c + mx1 + m2x2...

In [116]:
df.isnull().any()  #Todos tienen Nulls, por lo que vamos a limpoar solo Salary y Age

Gender        True
Salary        True
Age           True
Place         True
Weight        True
Company       True
Education     True
JoinYear     False
dtype: bool

In [117]:
favs=['Salary','Age']   # Solo hay que limpiar estas dos variables
ndf = df[favs]
ndf = ndf.dropna()
ndf.shape

(17, 2)

In [118]:
ndf

    Salary   Age
0   1300.0  35.0
1   1250.0  33.0
2   2200.0  34.0
3   2100.0  42.0
4   1500.0  29.0
5   1700.0  42.0
6   3000.0  50.0
7   3000.0  55.0
8   2800.0  31.0
9   2900.0  46.0
10  2780.0  36.0
11  2550.0  48.0
14  2780.0  36.0
15  2550.0  48.0
16  2550.0  48.0
17  2550.0  48.0
18  2550.0  48.0

In [119]:
XX = ndf[['Age']]  #Doble corchete es DataFrame
y = ndf['Salary']

In [120]:
type(XX)  #Series = 1 dimensión 1D y necesita 2D que es dataframe

pandas.core.frame.DataFrame

In [121]:
from sklearn import linear_model

In [122]:
lm = linear_model.LinearRegression()

In [123]:
model_lm = lm.fit(XX,y)

In [124]:
print('The intercept is \t',model_lm.intercept_)
print('The coefficient is \t', model_lm.coef_)
print('The r2 value is \t', model_lm.score(XX,y))

The intercept is 	 606.3450956937793
The coefficient is 	 [41.96351675]
The r2 value is 	 0.31711161647425

In [125]:
edad = int(input('Enter the age of the person to find the Salary'))
edad

Enter the age of the person to find the Salary33

33

In [126]:
print('Salary of a person with age ',edad, 'is', 606.3450956937793 + (41.96351675*edad) )

Salary of a person with age  33 is 1991.1411484437792

In [127]:
import statsmodels.api as sm

Necesitamos encontrar una linea recta perfecta, encontrar la distancia de los datos al cuadrado y poner una linea

In [128]:
modelA = sm.OLS.from_formula('Salary ~ Age',
                             data = df
                             )
resultA = modelA.fit()
resultA.summary()

/usr/local/lib/python3.8/dist-packages/scipy/stats/_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=17
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.317
Model:                            OLS   Adj. R-squared:                  0.272
Method:                 Least Squares   F-statistic:                     6.966
Date:                Fri, 03 Mar 2023   Prob (F-statistic):             0.0186
Time:                        01:38:33   Log-Likelihood:                -128.66
No. Observations:                  17   AIC:                             261.3
Df Residuals:                      15   BIC:                             263.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    606.3451    674.058      0.900      0.383    -830.376    2043.066
Age           41.9635     15.900      2.639      0.019       8.074      75.853
==============================================================================
Omnibus:                        0.097   Durbin-Watson:                   1.273
Prob(Omnibus):                  0.953   Jarque-Bera (JB):                0.315
Skew:                           0.084   Prob(JB):                        0.854
Kurtosis:                       2.354   Cond. No.                         236.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

Grado de libertad es cuantos datos necesito para dar una respuesta

In [129]:
edad = int(input('Enter the age of the person to find the Salary'))
print('Salary of a person with age ',edad, 'is', 606.3450956937793 + (41.96351675*edad) )

Enter the age of the person to find the Salary33
Salary of a person with age  33 is 1991.1411484437792

In [130]:
df.columns

Index(['Gender', 'Salary', 'Age', 'Place', 'Weight', 'Company', 'Education',
       'JoinYear'],
      dtype='object')

What is the salary of a person with age 33 and weight 80?
Regression
Salary = b0 + b1*Age + b2*Weight
y = c + m1x1 + m2x2

In [131]:
favs2=['Salary','Age','Weight']   # Solo hay que limpiar estas tres variables
ndf2 = df[favs2]
ndf2 = ndf2.dropna()
ndf2.shape

(16, 3)

In [132]:
ndf2

    Salary   Age  Weight
0   1300.0  35.0    80.0
1   1250.0  33.0    82.5
2   2200.0  34.0   100.8
3   2100.0  42.0    90.0
4   1500.0  29.0    67.0
5   1700.0  42.0    60.0
6   3000.0  50.0    77.0
7   3000.0  55.0    77.0
8   2800.0  31.0    87.0
9   2900.0  46.0    70.0
10  2780.0  36.0    57.0
11  2550.0  48.0    64.0
14  2780.0  36.0    57.0
16  2550.0  48.0    64.0
17  2550.0  48.0    64.0
18  2550.0  48.0    64.0

In [133]:
#Salary = b0 + b1*age + b2*weight
XX2 = ndf2[['Age','Weight']]  #Doble corchete es DataFrame
y2 = ndf2['Salary']

In [134]:
lm2 = linear_model.LinearRegression()

In [135]:
model_lm2 = lm2.fit(XX2,y2)

In [136]:
print('The intercept is \t',model_lm2.intercept_)
print('The coefficient is \t', model_lm2.coef_)
print('The r2 value is \t', model_lm2.score(XX2,y2))

The intercept is 	 871.9179918088234
The coefficient is 	 [41.16445683 -3.14336849]
The r2 value is 	 0.3173388086072576

In [137]:
modelB = sm.OLS.from_formula('Salary ~ Age + Weight',
                             data = ndf2
                             )
resultB = modelB.fit()
resultB.summary()

/usr/local/lib/python3.8/dist-packages/scipy/stats/_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.317
Model:                            OLS   Adj. R-squared:                  0.212
Method:                 Least Squares   F-statistic:                     3.022
Date:                Fri, 03 Mar 2023   Prob (F-statistic):             0.0836
Time:                        01:38:37   Log-Likelihood:                -121.52
No. Observations:                  16   AIC:                             249.0
Df Residuals:                      13   BIC:                             251.3
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    871.9180   1234.042      0.707      0.492   -1794.069    3537.905
Age           41.1645     17.985      2.289      0.039       2.309      80.019
Weight        -3.1434     11.090     -0.283      0.781     -27.101      20.814
==============================================================================
Omnibus:                        0.200   Durbin-Watson:                   1.331
Prob(Omnibus):                  0.905   Jarque-Bera (JB):                0.398
Skew:                           0.051   Prob(JB):                        0.820
Kurtosis:                       2.234   Cond. No.                         779.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [138]:
edad = int(input('Enter the age of the person to find the Salary'))
Weight = float(input('Enter the weight of the person to find the Salary'))
print('Salary of a person with age ',edad, 'is', 871.9180	 + (41.1645*edad) + (-3.1434*Weight) )

Enter the age of the person to find the Salary33
Enter the weight of the person to find the Salary82.5
Salary of a person with age  33 is 1971.016

In [139]:
print(1250-1971.016)

-721.0160000000001

In [140]:
resultB.resid

0    -761.204501
1    -721.017166
2     245.342020
3    -217.922014
4    -355.081551
5    -712.223069
6     311.898541
7     106.076257
8     925.456906
9     354.552789
10    605.333567
11    -96.636336
14    605.333567
16    -96.636336
17    -96.636336
18    -96.636336
dtype: float64

In [141]:
resultB.fittedvalues

0     2061.204501
1     1971.017166
2     1954.657980
3     2317.922014
4     1855.081551
5     2412.223069
6     2688.101459
7     2893.923743
8     1874.543094
9     2545.447211
10    2174.666433
11    2646.636336
14    2174.666433
16    2646.636336
17    2646.636336
18    2646.636336
dtype: float64

#What is the salary of a female with age 33?

Salary = b0 + b1*Age + b2*Gender

y = c + m1x1 + m2x2

In [142]:
df.columns

Index(['Gender', 'Salary', 'Age', 'Place', 'Weight', 'Company', 'Education',
       'JoinYear'],
      dtype='object')

In [143]:
favs3=['Salary','Age','Gender']   # Solo hay que limpiar estas dos variables
ndf3 = df[favs3]
ndf3 = ndf3.dropna()
ndf3.shape

(16, 3)

In [144]:
ndf3

    Salary   Age  Gender
0   1300.0  35.0  Female
1   1250.0  33.0  Female
2   2200.0  34.0    Male
3   2100.0  42.0    Male
4   1500.0  29.0  Female
5   1700.0  42.0  Female
6   3000.0  50.0    Male
7   3000.0  55.0    Male
8   2800.0  31.0  Female
9   2900.0  46.0    Male
10  2780.0  36.0  Female
11  2550.0  48.0    Male
14  2780.0  36.0  Female
15  2550.0  48.0    Male
16  2550.0  48.0    Male
17  2550.0  48.0    Male

In [145]:
XX3 = ndf3[['Age','Gender']]  #Doble corchete es DataFrame
y3 = ndf3['Salary']

In [146]:
lm3 = linear_model.LinearRegression()

In [147]:
model_lm3 = lm3.fit(XX3,y3)

ValueError: ignored

In [ ]:
print('The intercept is \t',model_lm3.intercept_)
print('The coefficient is \t', model_lm3.coef_)
print('The r2 value is \t', model_lm3.score(XX3,y3))

PREGUNTAR A JOBISH SOBRE PORQUE NO SE PUEDE CONVERTIR STRING TO FLOAT FEMALE TENDRÍAMOS QUE CONVERTIR FEMALE A 1?

aHORA VAMOS A CALCULAR LA FEMALE USANDO EL METODO ULTIMO

In [148]:
import statsmodels.api as sm

In [149]:
modelC = sm.OLS.from_formula('Salary ~ Age + Gender',
                             data = df
                             )
resultC = modelC.fit()
resultC.summary()

/usr/local/lib/python3.8/dist-packages/scipy/stats/_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.323
Model:                            OLS   Adj. R-squared:                  0.219
Method:                 Least Squares   F-statistic:                     3.108
Date:                Fri, 03 Mar 2023   Prob (F-statistic):             0.0789
Time:                        01:42:58   Log-Likelihood:                -121.44
No. Observations:                  16   AIC:                             248.9
Df Residuals:                      13   BIC:                             251.2
Df Model:                           2
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept        874.7433    968.174      0.903      0.383   -1216.869    2966.355
Gender[T.Male]   188.7701    423.620      0.446      0.663    -726.406    1103.946
Age               33.0033     27.396      1.205      0.250     -26.183      92.189
==============================================================================
Omnibus:                        0.559   Durbin-Watson:                   1.244
Prob(Omnibus):                  0.756   Jarque-Bera (JB):                0.623
Skew:                           0.295   Prob(JB):                        0.732
Kurtosis:                       2.234   Cond. No.                         320.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [159]:
#Salary = b0 + b1Age + b2Gender
edad = int(input('Enter the age of the person to find the Salary'))
sexo = int(input('Enter 1 if male, 0 female'))

Enter the age of the person to find the Salary33
Enter 1 if male, 0 female0

In [164]:
print('Salary of a person with age ',edad, 'and with gender Female ','is', 
      874.7433	 + 33.0033 * 33 + 0 *	188.7701)
print('Salary of a person with age ',edad, 'and with gender Male ', 'is', 
      874.7433	 + 33.0033 * 33 + 1 *	188.7701)

Salary of a person with age  33 and with gender Female  is 1963.8522000000003
Salary of a person with age  33 and with gender Male  is 2152.6223000000005

What is the age of a Female with age 40  with education  Bachelor  degree?

Salary = b0 + b1Gender + b2Education + b3Age

In [165]:
df.columns

Index(['Gender', 'Salary', 'Age', 'Place', 'Weight', 'Company', 'Education',
       'JoinYear'],
      dtype='object')

In [167]:
df.Education.unique()

array(['Bachelor', 'HighSchool', 'Master', nan], dtype=object)

In [180]:
favs4=['Salary','Age','Gender','Education']   # Solo hay que limpiar estas dos variables
ndf4 = df[favs4]
ndf4 = ndf4.dropna()
ndf4.shape

(15, 4)

In [171]:
ndf4

    Salary   Age  Gender   Education
0   1300.0  35.0  Female    Bachelor
1   1250.0  33.0  Female  HighSchool
2   2200.0  34.0    Male    Bachelor
3   2100.0  42.0    Male      Master
4   1500.0  29.0  Female      Master
5   1700.0  42.0  Female      Master
6   3000.0  50.0    Male  HighSchool
7   3000.0  55.0    Male    Bachelor
8   2800.0  31.0  Female    Bachelor
9   2900.0  46.0    Male      Master
10  2780.0  36.0  Female  HighSchool
11  2550.0  48.0    Male      Master
14  2780.0  36.0  Female  HighSchool
15  2550.0  48.0    Male      Master
16  2550.0  48.0    Male      Master

In [173]:
modelD = sm.OLS.from_formula('Salary ~ Age + Gender + Education',
                             data = ndf4
                             )
resultD = modelD.fit()
resultD.summary()

/usr/local/lib/python3.8/dist-packages/scipy/stats/_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=15
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.429
Model:                            OLS   Adj. R-squared:                  0.201
Method:                 Least Squares   F-statistic:                     1.878
Date:                Fri, 03 Mar 2023   Prob (F-statistic):              0.191
Time:                        02:14:27   Log-Likelihood:                -113.00
No. Observations:                  15   AIC:                             236.0
Df Residuals:                      10   BIC:                             239.5
Df Model:                           4
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Intercept                 895.1281   1013.504      0.883      0.398   -1363.100    3153.357
Gender[T.Male]            377.0401    471.530      0.800      0.443    -673.593    1427.674
Education[T.HighSchool]   221.7600    409.165      0.542      0.600    -689.917    1133.437
Education[T.Master]      -286.8097    358.267     -0.801      0.442   -1085.079     511.460
Age                        32.0349     29.413      1.089      0.302     -33.500      97.570
==============================================================================
Omnibus:                        0.443   Durbin-Watson:                   0.835
Prob(Omnibus):                  0.801   Jarque-Bera (JB):                0.009
Skew:                          -0.059   Prob(JB):                        0.995
Kurtosis:                       2.966   Cond. No.                         308.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [174]:
edad4 = int(input('Enter the age of the person to find Salary')) 
male = int(input('Enter 1 if male , 0 otherwise'))
hs = int(input('Enter 1 if the person has Highschool, 0 otherwise'))
ms = int(input('Enter 1 if the person has Masters, 0 otherwise'))

Enter the age of the person to find Salary40
Enter 1 if male , 0 otherwise0
Enter 1 if the person has Highschool, 0 otherwise0
Enter 1 if the person has Masters, 0 otherwise0

In [186]:
print('Salary is ',
      895.1281 + 
      0 *	377.0401  + # 0 since we are looking for female data
      0 *	221.7600	+ # 0 since he has no HS degree
      0 *	-286.8097 + # 0 since he has no Master degree
      40 *	32.0349     # Age is 40
      )

Salary is  2176.5241

What is the age of a Female with age 40  with education  Bachelor  degree and working in Ford?

Salary = b0 + b1Gender + b2Education + b3Age + b4Company

In [177]:
df.columns

Index(['Gender', 'Salary', 'Age', 'Place', 'Weight', 'Company', 'Education',
       'JoinYear'],
      dtype='object')

In [178]:
df.Company.unique()

array(['BMW', 'Ford', 'GM', nan], dtype=object)

In [181]:
favs5=['Salary','Age','Gender','Education','Company']   # Solo hay que limpiar estas variables
ndf5 = df[favs5]
ndf5 = ndf5.dropna()
ndf5.shape

(14, 5)

In [182]:
ndf5

    Salary   Age  Gender   Education Company
0   1300.0  35.0  Female    Bachelor     BMW
1   1250.0  33.0  Female  HighSchool    Ford
2   2200.0  34.0    Male    Bachelor     BMW
3   2100.0  42.0    Male      Master     BMW
4   1500.0  29.0  Female      Master    Ford
5   1700.0  42.0  Female      Master    Ford
6   3000.0  50.0    Male  HighSchool    Ford
7   3000.0  55.0    Male    Bachelor    Ford
8   2800.0  31.0  Female    Bachelor    Ford
9   2900.0  46.0    Male      Master      GM
10  2780.0  36.0  Female  HighSchool     BMW
11  2550.0  48.0    Male      Master      GM
14  2780.0  36.0  Female  HighSchool     BMW
15  2550.0  48.0    Male      Master      GM

In [193]:
modelE = sm.OLS.from_formula('Salary ~ Age + Gender + Education + Company',
                             data = ndf5
                             )
resultE = modelE.fit()
resultE.summary()

/usr/local/lib/python3.8/dist-packages/scipy/stats/_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=14
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.466
Model:                            OLS   Adj. R-squared:                  0.009
Method:                 Least Squares   F-statistic:                     1.020
Date:                Fri, 03 Mar 2023   Prob (F-statistic):              0.482
Time:                        02:43:18   Log-Likelihood:                -105.41
No. Observations:                  14   AIC:                             224.8
Df Residuals:                       7   BIC:                             229.3
Df Model:                           6
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Intercept                1060.6182   1218.458      0.870      0.413   -1820.576    3941.813
Gender[T.Male]            256.9213    591.161      0.435      0.677   -1140.951    1654.794
Education[T.HighSchool]   191.7303    474.100      0.404      0.698    -929.339    1312.800
Education[T.Master]      -478.1503    495.089     -0.966      0.366   -1648.850     692.549
Company[T.Ford]           -31.0325    422.643     -0.073      0.944   -1030.423     968.358
Company[T.GM]             420.7905    660.893      0.637      0.545   -1141.973    1983.554
Age                        29.7145     36.954      0.804      0.448     -57.667     117.096
==============================================================================
Omnibus:                        1.598   Durbin-Watson:                   0.986
Prob(Omnibus):                  0.450   Jarque-Bera (JB):                0.467
Skew:                          -0.436   Prob(JB):                        0.792
Kurtosis:                       3.203   Cond. No.                         311.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [188]:
edad5 = int(input('Enter the age of the person to find Salary')) 
male5 = int(input('Enter 1 if male , 0 otherwise'))
highschool5 = int(input('Enter 1 if the person has Highschool, 0 otherwise'))
master5 = int(input('Enter 1 if the person has Masters, 0 otherwise'))
Ford5 = int(input('Enter 1 if the person works in Ford, 0 otherwise'))
GM5 = int(input('Enter 1 if the person works in GM, 0 otherwise'))

Enter the age of the person to find Salary40
Enter 1 if male , 0 otherwise0
Enter 1 if the person has Highschool, 0 otherwise0
Enter 1 if the person has Masters, 0 otherwise0
Enter 1 if the person works in Ford, 0 otherwise1
Enter 1 if the person works in GM, 0 otherwise0

In [190]:
print('Salary is ',
      1060.6182 + 
      male5 *	256.9213  + # 0 since we are looking for female data
      highschool5 *	191.7303	+ # 0 since he has no HS degree
      master5 *	-478.1503 + # 0 since he has no Master degree
      Ford5 * -31.0325  + # 1 since works in ford
      GM5 * 420.7905  + # 0 since No works in GM
      edad5 *	29.7145     # Age is 40
      )

Salary is  2218.1656999999996

What is salary of a Female  joined in 2004?

Salary = b0 + b1Gender + b2JoinYear

In [191]:
df.columns

Index(['Gender', 'Salary', 'Age', 'Place', 'Weight', 'Company', 'Education',
       'JoinYear'],
      dtype='object')

In [195]:
favs6=['Salary','Gender','JoinYear']   # Solo hay que limpiar estas variables
ndf6 = df[favs6]
ndf6 = ndf6.dropna()
ndf6

    Salary  Gender  JoinYear
0   1300.0  Female      2008
1   1250.0  Female      2010
2   2200.0    Male      2004
3   2100.0    Male      2000
4   1500.0  Female      2010
5   1700.0  Female      2000
6   3000.0    Male      2010
7   3000.0    Male      2010
8   2800.0  Female      2004
9   2900.0    Male      2008
10  2780.0  Female      2009
11  2550.0    Male      2004
13  2900.0    Male      2010
14  2780.0  Female      2010
15  2550.0    Male      2000
16  2550.0    Male      2000
17  2550.0    Male      2000

In [198]:
ndf6['JoinYear'] = ndf6['JoinYear'].astype(str)

In [199]:
modelF = sm.OLS.from_formula('Salary ~ Gender + JoinYear',
                             data = ndf6
                             )
resultF = modelF.fit()
resultF.summary()

/usr/local/lib/python3.8/dist-packages/scipy/stats/_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=17
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.467
Model:                            OLS   Adj. R-squared:                  0.224
Method:                 Least Squares   F-statistic:                     1.924
Date:                Fri, 03 Mar 2023   Prob (F-statistic):              0.170
Time:                        02:48:45   Log-Likelihood:                -126.94
No. Observations:                  17   AIC:                             265.9
Df Residuals:                      11   BIC:                             270.9
Df Model:                           5
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept         1645.7692    326.419      5.042      0.000     927.325    2364.214
Gender[T.Male]     805.2885    282.688      2.849      0.016     183.097    1427.479
JoinYear[T.2004]   334.0385    386.225      0.865      0.406    -516.036    1184.113
JoinYear[T.2008]    51.5865    448.456      0.115      0.910    -935.458    1038.631
JoinYear[T.2009]  1134.2308    619.337      1.831      0.094    -228.921    2497.383
JoinYear[T.2010]   356.5865    329.802      1.081      0.303    -369.303    1082.476
==============================================================================
Omnibus:                        0.146   Durbin-Watson:                   0.782
Prob(Omnibus):                  0.929   Jarque-Bera (JB):                0.237
Skew:                           0.179   Prob(JB):                        0.888
Kurtosis:                       2.546   Cond. No.                         7.26
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [200]:
print('Salary is ',
      1645.7692 + 
      1 *	334.0385
      )

Salary is  1979.8076999999998