<a href="https://colab.research.google.com/github/tkdforever18/Carlos/blob/main/Clase_9_muchos_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
path = 'https://raw.githubusercontent.com/tec03/Datasets/main/datasets/groceries101.csv'

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(path)
df.head()

   Member_number      Date   itemDescription
0           1808  21/07/15    tropical fruit
1           2552  05/01/15        whole milk
2           2300  19/09/15         pip fruit
3           1187  12/12/15  other vegetables
4           3037  01/02/15        whole milk

In [4]:
df.shape

(38765, 3)

In [5]:
df.isnull().any()

Member_number      False
Date               False
itemDescription    False
dtype: bool

In [6]:
df.columns

Index(['Member_number', 'Date', 'itemDescription'], dtype='object')

In [7]:
df.rename({'Member_number' : 'id', 'Date' : 'date', 'itemDescription' : 'item' },
          axis = 1,
          inplace = True)
df.head()

     id      date              item
0  1808  21/07/15    tropical fruit
1  2552  05/01/15        whole milk
2  2300  19/09/15         pip fruit
3  1187  12/12/15  other vegetables
4  3037  01/02/15        whole milk

In [8]:
df.iloc[0,0]

1808

In [9]:
type(df.iloc[0,0])

numpy.int64

In [10]:
# Hay que cambiar ID como string
df['id'] = df['id'].astype(str)

In [11]:
type(df.iloc[0,0])

str

In [12]:
# Hay que cambiar fecha como fecha
df['date'] = pd.to_datetime(df['date'])

In [13]:
type(df.iloc[0,1])

pandas._libs.tslibs.timestamps.Timestamp

In [14]:
df.head()

     id       date              item
0  1808 2015-07-21    tropical fruit
1  2552 2015-05-01        whole milk
2  2300 2015-09-19         pip fruit
3  1187 2015-12-12  other vegetables
4  3037 2015-01-02        whole milk

In [15]:
# Hay que cambiar item como string
df['item'] = df['item'].astype(str)

In [16]:
type(df.iloc[0,2])

str

In [18]:
#Vamos a hacer sorting de la fechas
df['year_month'] = pd.to_datetime(df['date'].dt.strftime('%Y-%m-%d'))
df.head()

     id       date              item year_month
0  1808 2015-07-21    tropical fruit 2015-07-21
1  2552 2015-05-01        whole milk 2015-05-01
2  2300 2015-09-19         pip fruit 2015-09-19
3  1187 2015-12-12  other vegetables 2015-12-12
4  3037 2015-01-02        whole milk 2015-01-02

In [20]:
df.sort_values('date',
               inplace = True)
df.head()

         id       date               item year_month
15338  1381 2014-01-01               curd 2014-01-01
9172   2226 2014-01-01            sausage 2014-01-01
31684  1659 2014-01-01  frozen vegetables 2014-01-01
13247  2610 2014-01-01     hamburger meat 2014-01-01
13242  3942 2014-01-01   other vegetables 2014-01-01

In [21]:
df.item.unique()

array(['curd', 'sausage', 'frozen vegetables', 'hamburger meat',
       'other vegetables', 'candles', 'soda', 'bottled water', 'yogurt',
       'Instant food products', 'frozen potato products',
       'whipped/sour cream', 'whole milk', 'brown bread', 'onions',
       'waffles', 'sliced cheese', 'dishes', 'bottled beer',
       'shopping bags', 'citrus fruit', 'butter', 'berries', 'coffee',
       'tropical fruit', 'domestic eggs', 'cleaner', 'chocolate',
       'specialty chocolate', 'flower (seeds)', 'frozen fish',
       'soft cheese', 'chicken', 'pickled vegetables', 'specialty bar',
       'canned beer', 'napkins', 'frozen dessert', 'rolls/buns', 'beef',
       'condensed milk', 'butter milk', 'meat', 'sparkling wine',
       'root vegetables', 'fruit/vegetable juice', 'hard cheese',
       'white bread', 'cream cheese ', 'ice cream', 'oil', 'candy',
       'pastry', 'misc. beverages', 'sugar', 'frozen meals', 'pip fruit',
       'dessert', 'frankfurter', 'margarine', 'spices', 'mustard',
       'liqueur', 'salty snack', 'seasonal products', 'newspapers',
       'soups', 'processed cheese', 'cat food', 'preservation products',
       'house keeping products', 'male cosmetics', 'flour', 'hair spray',
       'prosecco', 'canned fish', 'long life bakery product',
       'red/blush wine', 'semi-finished bread',
       'packaged fruit/vegetables', 'cling film/bags',
       'finished products', 'cooking chocolate', 'dish cleaner',
       'roll products ', 'canned vegetables', 'pork', 'softener',
       'UHT-milk', 'jam', 'ham', 'specialty cheese', 'liquor',
       'mayonnaise', 'hygiene articles', 'rice', 'nut snack', 'pet care',
       'cereals', 'chocolate marshmallow', 'sweet spreads', 'syrup',
       'dog food', 'female sanitary products', 'dental care', 'turkey',
       'spread cheese', 'skin care', 'pasta', 'beverages', 'white wine',
       'herbs', 'popcorn', 'grapes', 'liquor (appetizer)', 'whisky',
       'chewing gum', 'detergent', 'photo/film', 'pot plants', 'rum',
       'make up remover', 'curd cheese', 'honey', 'canned fruit',
       'ketchup', 'instant coffee', 'cake bar', 'vinegar',
       'organic sausage', 'tidbits', 'nuts/prunes', 'kitchen towels',
       'baking powder', 'abrasive cleaner', 'zwieback', 'fish',
       'potato products', 'sauces', 'salt', 'cocoa drinks',
       'snack products', 'light bulbs', 'soap', 'decalcifier', 'brandy',
       'specialty vegetables', 'bathroom cleaner', 'meat spreads',
       'cookware', 'specialty fat', 'salad dressing', 'ready soups',
       'liver loaf', 'bags', 'toilet cleaner', 'artif. sweetener', 'tea',
       'rubbing alcohol', 'pudding powder', 'frozen fruits', 'cream',
       'frozen chicken', 'flower soil/fertilizer', 'kitchen utensil',
       'baby cosmetics', 'organic products'], dtype=object)

In [23]:
df.item.nunique()  #Cantidad de productos

167

In [24]:
df.id.nunique()  #Cantidad de clientes

3898

In [25]:
df.shape

(38765, 4)

In [26]:
df.date.max()

Timestamp('2015-12-30 00:00:00')

In [27]:
df.date.min()

Timestamp('2014-01-01 00:00:00')

In [31]:
#Cuantos productos se vendieron cada dia
df_sales = df.year_month.value_counts().rename_axis('year_month').reset_index(name = 'sales')
df_sales

    year_month  sales
0   2015-01-21     96
1   2015-07-21     93
2   2015-11-29     92
3   2015-08-08     92
4   2015-04-30     91
..         ...    ...
723 2014-10-01     26
724 2014-04-07     24
725 2015-03-17     23
726 2015-03-16     23
727 2015-01-09     22

[728 rows x 2 columns]

In [32]:
type(df_sales)

pandas.core.frame.DataFrame

In [33]:
df_sales_year = df_sales
df_sales_year["year"] = pd.DatetimeIndex(df_sales_year['year_month']).year
df_sales_year["month"] = pd.DatetimeIndex(df_sales_year['year_month']).strftime('%b')

df_sales_year.sort_values("year_month", inplace = True)
df_sales_year

    year_month  sales  year month
446 2014-01-01     48  2014   Jan
181 2014-01-02     62  2014   Jan
330 2014-01-03     54  2014   Jan
144 2014-01-04     64  2014   Jan
556 2014-01-05     44  2014   Jan
..         ...    ...   ...   ...
653 2015-12-26     37  2015   Dec
47  2015-12-27     74  2015   Dec
247 2015-12-28     58  2015   Dec
270 2015-12-29     57  2015   Dec
358 2015-12-30     53  2015   Dec

[728 rows x 4 columns]