<a href="https://colab.research.google.com/github/tkdforever18/Carlos/blob/main/Copia_de_Lambda_Clase_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def multiplicación (x) :
  print('Yo recibí el valor' , x)
  print('Voy a regresar 2*{} '.format(x))
  print('Voy a regresar 2*' ,x)
  return 2*x

In [ ]:
multiplicación(5)

Yo recibí el valor 5
Voy a regresar 2*5
Voy a regresar 2* 5

10

## 'lamda' method
lambda arguments : expression

In [ ]:
x = lambda x : 2*x
x(5)

10

In [ ]:
y = lambda y : 5*y
y(5)

25

In [ ]:
z = lambda a=0, b=0, c=0 : a + b + c
z(3, 4, 5)

12

In [ ]:
import pandas as pd

In [ ]:
path = "https://raw.githubusercontent.com/tkdforever18/Carlos/main/Datasets-main/datasets/cwurData.csv?token=GHSAT0AAAAAAB5NVLASV7OYBPOXQ4MPD4JOY6TG2GQ"

In [ ]:
path

'https://raw.githubusercontent.com/tkdforever18/Carlos/main/Datasets-main/datasets/cwurData.csv?token=GHSAT0AAAAAAB5NVLASV7OYBPOXQ4MPD4JOY6TG2GQ'

In [ ]:
df = pd.read_csv(path)
df.head(2)

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012

In [ ]:
df.columns

Index(['world_rank', 'institution', 'country', 'national_rank',
       'quality_of_education', 'alumni_employment', 'quality_of_faculty',
       'publications', 'influence', 'citations', 'broad_impact', 'patents',
       'score', 'year'],
      dtype='object')

In [ ]:
def create_category(ranking):
  if (ranking >=1) & (ranking <=100):
    return 'First tier top university'
  elif (ranking >100) & (ranking <= 200):
    return 'Second tier top univesity'
  elif (ranking > 200) & (ranking <=300):
    return 'Third tier top university'
  return 'Other top university'

In [ ]:
create_category(100)

'First tier top university'

In [ ]:
df['Ranking'] = df['world_rank'].apply(lambda x:create_category(x))     #Incluir la categoría a la base de datos con .apply(lambda)
df.head(2)

,world_rank,institution,country,national_rank,quality_of_education,alumni_employment,quality_of_faculty,publications,influence,citations,broad_impact,patents,score,year,Ranking
0,1,Harvard University,USA,1,7,9,1,1,1,1,NaN,5,100.00,2012,First tier top university
1,2,Massachusetts Institute of Technology,USA,2,9,17,3,12,4,4,NaN,1,91.67,2012,First tier top university

Average number of "First tier top university" in Argentina country?

In [ ]:
x = pd.pivot_table(df,                     
               index = ['country','Ranking'],
               aggfunc = ['count','mean'],
               values = 'world_rank',
               margins = True  ,   
                )

In [ ]:
x

                                              count        mean
                                         world_rank  world_rank
country        Ranking
Argentina      Other top university               7  719.714286
Australia      First tier top university          8   93.375000
               Other top university              40  662.625000
               Second tier top univesity          8  143.875000
               Third tier top university          2  220.500000
...                                             ...         ...
United Kingdom Other top university              77  589.298701
               Second tier top univesity         16  152.375000
               Third tier top university         22  247.545455
Uruguay        Other top university               2  900.000000
All                                            2200  459.590909

[130 rows x 2 columns]

In [ ]:
x.loc[('Mexico', slice(None)), :]

                                  count       mean
                             world_rank world_rank
country Ranking
Mexico  Other top university          4      553.0

In [ ]:
x.index

MultiIndex([(           'Argentina',      'Other top university'),
            (           'Australia', 'First tier top university'),
            (           'Australia',      'Other top university'),
            (           'Australia', 'Second tier top univesity'),
            (           'Australia', 'Third tier top university'),
            (             'Austria',      'Other top university'),
            (             'Austria', 'Third tier top university'),
            (             'Belgium', 'First tier top university'),
            (             'Belgium',      'Other top university'),
            (             'Belgium', 'Second tier top univesity'),
            ...
            (                 'USA', 'Second tier top univesity'),
            (                 'USA', 'Third tier top university'),
            (              'Uganda',      'Other top university'),
            ('United Arab Emirates',      'Other top university'),
            (      'United Kingdom', 'First tier top university'),
            (      'United Kingdom',      'Other top university'),
            (      'United Kingdom', 'Second tier top univesity'),
            (      'United Kingdom', 'Third tier top university'),
            (             'Uruguay',      'Other top university'),
            (                 'All',                          '')],
           names=['country', 'Ranking'], length=130)

In [ ]:
x.loc[('Mexico', slice(None)), : ]

                                  count       mean
                             world_rank world_rank
country Ranking
Mexico  Other top university          4      553.0

In [ ]:
x.columns

MultiIndex([('count', 'world_rank'),
            ( 'mean', 'world_rank')],
           )

In [ ]:
x.loc[(slice(None), 'First tier top university') , ('count', 'world_rank') ]

country         Ranking
Australia       First tier top university      8
Belgium         First tier top university      2
Canada          First tier top university     13
China           First tier top university      4
Denmark         First tier top university      4
Finland         First tier top university      2
France          First tier top university     18
Germany         First tier top university     11
Israel          First tier top university     14
Italy           First tier top university      3
Japan           First tier top university     26
Netherlands     First tier top university      6
Norway          First tier top university      3
Russia          First tier top university      3
Singapore       First tier top university      3
South Korea     First tier top university      5
Sweden          First tier top university      5
Switzerland     First tier top university     16
Taiwan          First tier top university      2
USA             First tier top university    223
United Kingdom  First tier top university     29
Name: (count, world_rank), dtype: int64

In [ ]:
x.loc[(slice(None), 'First tier top university'), : ]

                                              count       mean
                                         world_rank world_rank
country        Ranking
Australia      First tier top university          8  93.375000
Belgium        First tier top university          2  88.000000
Canada         First tier top university         13  49.538462
China          First tier top university          4  69.000000
Denmark        First tier top university          4  78.500000
Finland        First tier top university          2  93.500000
France         First tier top university         18  57.888889
Germany        First tier top university         11  84.000000
Israel         First tier top university         14  44.142857
Italy          First tier top university          3  76.666667
Japan          First tier top university         26  48.538462
Netherlands    First tier top university          6  88.000000
Norway         First tier top university          3  90.333333
Russia         First tier top university          3  65.666667
Singapore      First tier top university          3  75.333333
South Korea    First tier top university          5  52.200000
Sweden         First tier top university          5  74.800000
Switzerland    First tier top university         16  64.937500
Taiwan         First tier top university          2  61.000000
USA            First tier top university        223  42.708520
United Kingdom First tier top university         29  42.689655