<a href="https://colab.research.google.com/github/tkdforever18/Carlos/blob/main/Proyecto_Eq_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
path = '/content/drive/MyDrive/Data mining/Challenge_4y5 clean.xlsx'

In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from mlxtend.frequent_patterns import apriori, association_rules

In [4]:
df = pd.read_excel(path)
df

,Cliente,Producto,sem44,sem43,sem42,sem41
0,500000055,BEBIDAS REFRESCANTES,0.422700,0.422700,0.000000,0.422700
1,500000055,COLAS REGULAR INDIVIDUAL NO RETORNABLE,8.601600,6.065500,12.680500,8.601600
2,500000055,COLAS REGULAR FAMILIAR RETORNABLE,26.770000,22.895300,46.847499,30.292399
3,500000055,LECHE UHT SABORIZADA,0.140900,0.105700,0.000000,0.140900
4,500000055,COLAS LIGHT INDIVIDUAL,0.000000,1.268000,2.536000,1.268000
...,...,...,...,...,...,...
999995,500257111,COLAS REGULAR FAMILIAR NO RETORNABLE,43.677199,21.838600,70.094898,28.531100
999996,500257111,COLAS REGULAR FAMILIAR RETORNABLE,89.820498,47.199799,128.214397,63.050498
999997,500257111,AGUA PURIFICADA FAMILIAR,3.522400,0.000000,3.522400,0.000000
999998,500257111,LECHE UHT SABORIZADA,0.000000,0.000000,0.140900,0.000000
999999,500257111,SABORES REGULAR FAMILIAR RETORNABLE,9.862600,6.340200,23.247600,10.214900

## Agregamos el total de la suma de las semanas

In [5]:
df['Total'] = df.iloc[:, 3:].sum(axis=1) #axis=0 is row; axis=1 is column. Here sum of 'row'
df

,Cliente,Producto,sem44,sem43,sem42,sem41,Total
0,500000055,BEBIDAS REFRESCANTES,0.422700,0.422700,0.000000,0.422700,0.845400
1,500000055,COLAS REGULAR INDIVIDUAL NO RETORNABLE,8.601600,6.065500,12.680500,8.601600,27.347599
2,500000055,COLAS REGULAR FAMILIAR RETORNABLE,26.770000,22.895300,46.847499,30.292399,100.035198
3,500000055,LECHE UHT SABORIZADA,0.140900,0.105700,0.000000,0.140900,0.246600
4,500000055,COLAS LIGHT INDIVIDUAL,0.000000,1.268000,2.536000,1.268000,5.072000
...,...,...,...,...,...,...,...
999995,500257111,COLAS REGULAR FAMILIAR NO RETORNABLE,43.677199,21.838600,70.094898,28.531100,120.464598
999996,500257111,COLAS REGULAR FAMILIAR RETORNABLE,89.820498,47.199799,128.214397,63.050498,238.464694
999997,500257111,AGUA PURIFICADA FAMILIAR,3.522400,0.000000,3.522400,0.000000,3.522400
999998,500257111,LECHE UHT SABORIZADA,0.000000,0.000000,0.140900,0.000000,0.140900
999999,500257111,SABORES REGULAR FAMILIAR RETORNABLE,9.862600,6.340200,23.247600,10.214900,39.802699

In [6]:
df[['Cliente', 'Producto', 'Total']] # returns a dataframe

          Cliente                                Producto       Total
0       500000055                    BEBIDAS REFRESCANTES    0.845400
1       500000055  COLAS REGULAR INDIVIDUAL NO RETORNABLE   27.347599
2       500000055       COLAS REGULAR FAMILIAR RETORNABLE  100.035198
3       500000055                    LECHE UHT SABORIZADA    0.246600
4       500000055                  COLAS LIGHT INDIVIDUAL    5.072000
...           ...                                     ...         ...
999995  500257111    COLAS REGULAR FAMILIAR NO RETORNABLE  120.464598
999996  500257111       COLAS REGULAR FAMILIAR RETORNABLE  238.464694
999997  500257111                AGUA PURIFICADA FAMILIAR    3.522400
999998  500257111                    LECHE UHT SABORIZADA    0.140900
999999  500257111     SABORES REGULAR FAMILIAR RETORNABLE   39.802699

[1000000 rows x 3 columns]

In [7]:
import numpy as np

In [8]:
df['Total'] = df['Total'].apply(lambda x: 1 if x>0 else 0)

In [9]:
x = pd.pivot_table(df, 
               index='Cliente',
               columns = 'Producto',
               fill_value = 0,
               values='Total'
               )
x

Producto,AGUA MINERAL FAMILIAR,AGUA MINERAL INDIVIDUAL,AGUA PURIFICADA FAMILIAR,AGUA PURIFICADA INDIVIDUAL,AGUA SABORIZADA INDIVIDUAL,BEBIDAS DE SOYA FAMILIAR,BEBIDAS DE SOYA INDIVIDUAL,BEBIDAS ENERGETICAS,BEBIDAS INFANTILES,BEBIDAS REFRESCANTES,...,JUGOS Y NECTARES HOGAR,LECHE UHT ESPECIALIZADA,LECHE UHT REGULAR,LECHE UHT SABORIZADA,NARANJADAS,SABORES REGULAR FAMILIAR NO RETORNABLE,SABORES REGULAR FAMILIAR RETORNABLE,SABORES REGULAR INDIVIDUAL NO RETORNABLE,SABORES REGULAR INDIVIDUAL RETORNABLE,TE
Cliente,,,,,,,,,,,,,,,,,,,,,
500000055,0,1,0,0,0,0,0,0,1,1,...,1,0,0,1,1,1,0,1,0,1
500000058,0,1,0,1,1,0,0,0,1,0,...,1,0,1,1,1,1,0,1,1,1
500000061,0,0,0,1,0,0,0,1,0,1,...,1,0,0,1,1,1,0,1,1,0
500000062,0,0,0,1,0,0,1,0,0,0,...,1,0,0,1,1,1,0,1,1,0
500000064,1,1,0,1,1,0,0,1,0,0,...,1,0,1,1,1,1,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500257098,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0
500257100,0,1,1,1,0,0,1,0,1,1,...,1,0,0,1,1,1,1,1,1,1
500257103,0,1,1,1,0,0,1,0,0,1,...,1,1,1,1,1,1,1,1,1,0
500257109,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,1,1,0,1,1,0
500257111,0,1,1,0,0,0,0,0,0,0,...,1,0,1,1,0,0,1,1,1,0

In [10]:
type(x)

pandas.core.frame.DataFrame

In [11]:
from mlxtend.preprocessing import TransactionEncoder # mlxtend : machine learning extensions

In [12]:
te = TransactionEncoder()
te_ary = te.fit(x).transform(x)
te_ary

array([[ True,  True, False, ..., False, False, False],
       [ True,  True, False, ...,  True, False, False],
       [ True,  True, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [13]:
#drop the member_names column, so it will not be part of the calculation 
basket_encode = x.reset_index().drop('Cliente', axis = 1)
basket_encode.columns

Index(['AGUA MINERAL FAMILIAR', 'AGUA MINERAL INDIVIDUAL',
       'AGUA PURIFICADA FAMILIAR', 'AGUA PURIFICADA INDIVIDUAL',
       'AGUA SABORIZADA INDIVIDUAL', 'BEBIDAS DE SOYA FAMILIAR',
       'BEBIDAS DE SOYA INDIVIDUAL', 'BEBIDAS ENERGETICAS',
       'BEBIDAS INFANTILES', 'BEBIDAS REFRESCANTES', 'COLAS LIGHT FAMILIAR',
       'COLAS LIGHT INDIVIDUAL', 'COLAS REGULAR FAMILIAR NO RETORNABLE',
       'COLAS REGULAR FAMILIAR RETORNABLE',
       'COLAS REGULAR INDIVIDUAL NO RETORNABLE',
       'COLAS REGULAR INDIVIDUAL RETORNABLE', 'ISOTONICOS',
       'JUGOS Y NECTARES HOGAR', 'LECHE UHT ESPECIALIZADA',
       'LECHE UHT REGULAR', 'LECHE UHT SABORIZADA', 'NARANJADAS',
       'SABORES REGULAR FAMILIAR NO RETORNABLE',
       'SABORES REGULAR FAMILIAR RETORNABLE',
       'SABORES REGULAR INDIVIDUAL NO RETORNABLE',
       'SABORES REGULAR INDIVIDUAL RETORNABLE', 'TE'],
      dtype='object', name='Producto')

In [14]:
frequent_items = apriori(basket_encode, min_support = 0.3, use_colnames = True).sort_values(by = 'support', ascending = False)
frequent_items.head(10)

     support                                           itemsets
6   0.891721           (COLAS REGULAR INDIVIDUAL NO RETORNABLE)
7   0.885752              (COLAS REGULAR INDIVIDUAL RETORNABLE)
5   0.837122                (COLAS REGULAR FAMILIAR RETORNABLE)
4   0.814918             (COLAS REGULAR FAMILIAR NO RETORNABLE)
88  0.811797  (COLAS REGULAR INDIVIDUAL RETORNABLE, COLAS RE...
79  0.793015  (COLAS REGULAR INDIVIDUAL RETORNABLE, COLAS RE...
68  0.784106  (COLAS REGULAR FAMILIAR NO RETORNABLE, COLAS R...
13  0.780247         (SABORES REGULAR INDIVIDUAL NO RETORNABLE)
78  0.768459  (COLAS REGULAR FAMILIAR RETORNABLE, COLAS REGU...
94  0.756324  (SABORES REGULAR INDIVIDUAL NO RETORNABLE, COL...

In [15]:
rules = association_rules(frequent_items,
                          metric = 'lift',
                          min_threshold = 0.01
                          )
rules.sort_values('lift',ascending =False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
256723,"(JUGOS Y NECTARES HOGAR, NARANJADAS, SABORES R...","(COLAS REGULAR FAMILIAR RETORNABLE, SABORES RE...",0.409388,0.421508,0.309370,0.755689,1.792822,0.136810,2.367850
256810,"(COLAS REGULAR FAMILIAR RETORNABLE, SABORES RE...","(JUGOS Y NECTARES HOGAR, NARANJADAS, SABORES R...",0.421508,0.409388,0.309370,0.733960,1.792822,0.136810,2.220014
256714,"(JUGOS Y NECTARES HOGAR, NARANJADAS, COLAS REG...","(COLAS REGULAR FAMILIAR RETORNABLE, SABORES RE...",0.417513,0.413775,0.309370,0.740983,1.790787,0.136614,2.263267
256819,"(COLAS REGULAR FAMILIAR RETORNABLE, SABORES RE...","(JUGOS Y NECTARES HOGAR, NARANJADAS, COLAS REG...",0.413775,0.417513,0.309370,0.747678,1.790787,0.136614,2.308501
257011,"(ISOTONICOS, COLAS LIGHT INDIVIDUAL, SABORES R...","(JUGOS Y NECTARES HOGAR, NARANJADAS, COLAS REG...",0.423995,0.407579,0.309370,0.729655,1.790215,0.136558,2.191349
...,...,...,...,...,...,...,...,...,...
17,(COLAS REGULAR INDIVIDUAL NO RETORNABLE),"(COLAS REGULAR INDIVIDUAL RETORNABLE, COLAS RE...",0.891721,0.793015,0.734089,0.823227,1.038098,0.026941,1.170912
7,(COLAS REGULAR INDIVIDUAL NO RETORNABLE),(COLAS REGULAR FAMILIAR RETORNABLE),0.891721,0.837122,0.768459,0.861770,1.029444,0.021979,1.178311
6,(COLAS REGULAR FAMILIAR RETORNABLE),(COLAS REGULAR INDIVIDUAL NO RETORNABLE),0.837122,0.891721,0.768459,0.917977,1.029444,0.021979,1.320098
1,(COLAS REGULAR INDIVIDUAL NO RETORNABLE),(COLAS REGULAR INDIVIDUAL RETORNABLE),0.891721,0.885752,0.811797,0.910371,1.027795,0.021954,1.274680
0,(COLAS REGULAR INDIVIDUAL RETORNABLE),(COLAS REGULAR INDIVIDUAL NO RETORNABLE),0.885752,0.891721,0.811797,0.916506,1.027795,0.021954,1.296852